<p>Les Demandes De Permission De Sortie </p>
<form >
  <div class="form-group">
  <input type="text" nbInput fullWidth placeholder="Nom employee" #name="ngModel" [(ngModel)]="permissionfrm.name" name="name"  required >
  <br><br>
  <button class="btn btn-outline-primary" (click)="getPermissionByNameEmployee()" >Filtrer</button>
  <button class="btn btn-outline-info" (click)="refreshlist()" type="reset" >Reset</button>

  </div>
</form>
<table class="table table-bordered border-primary">
    <thead>
        <tr>
          <th>Nom</th>
            <th scope="col">Heure De Début</th>
            <th scope="col">Heure De Fin</th>
            <th scope="col">Status</th>
            <th scope="col">Cause</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let elt of ListPerm;let i = index"
        [class.active]="i == currentIndex">
        <td *ngIf="elt.employee !=null">{{elt.employee.nomEmp}}</td>
            <td>{{elt.heureDebut}}</td>
            <td>{{elt.heureFin}}</td>
            <td>{{elt.motif}}</td>
            <td>{{elt.status}}</td>
        
            <td>
                <button nbButton status="warning" hero  (click)="setActivePerm(elt, i)"  (click)="open(content)">Modifier</button>
            </td>
            <td>
                <button nbButton status="danger" hero (click)="setActivePerm(elt, i)" (click)="deletOnePermission()">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Demande de "{{currentPermission.employee.nomEmp}} {{currentPermission.employee.prenomEmp}}"</h4>

      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h4 class="modal-title" id="modal-basic-title"> De  <span class="text-primary">{{currentPermission.heureDebut}} </span>à  <span class="text-primary">{{currentPermission.heureFin}} </span></h4>
<br>
<h4 class="modal-title" id="modal-basic-title"><span class="title text-light"> Motif:</span>
  <br><br>
    <span class="text-white">{{currentPermission.motif}} </span>
  </h4>
<br><br>
      <div class="input-group mb-3">
        <label class="input-group-text " for="inputGroupSelect03">Reponse</label>   
        <select class="form-select form-control" id="inputGroupSelect03" aria-label="Example select with button addon" #status="ngModel"  [(ngModel)]="currentPermission.status"  name="status" >
          <option selected value="choose" disabled>Choose...</option>
          <option value="Accepted">Accepted</option>
          <option value="Refused">Refused</option>
        </select>
      </div>    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark"(click)="updatePermission()" (click)="c('Save click')">Repondre</button>
    </div>
  </ng-template>