.modal-header{
    background: linear-gradient(90deg,  #222B45 0%, rgba(0,0,60,1) 100%);
    border-color: linear-gradient(90deg, #222B45 0%, rgba(0,0,60,1) 100%);
}
.modal-body{
    background: linear-gradient(90deg, #222B45 0%, rgba(0,0,60,1) 100%);
    border-color: linear-gradient(90deg, #222B45 0%, rgba(0,0,60,1) 100%);
}
.modal-footer{
    background: linear-gradient(90deg,  #222B45 0%, rgba(0,0,60,1) 100%);
    border-color:linear-gradient(90deg, #222B45 0%, rgba(0,0,60,1) 100%);
}

table{
    border-color: rgb(34,43,69);
    color: blanchedalmond;
}
thead{
    background-color:  rgb(34,43,69);
}