<p>Historique de pointage</p>

<table class="table table-bordered border-primary" style="background-color: rgba(1, 31, 58, 0.562); color: aliceblue;">
    <thead>
        <tr>
            <th scope="col" style="background-color: #222B45;">Nom Employee</th>
            <th scope="col" style="background-color: #222B45;">Date De poinatge/Heure De pointage</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let elt of listP;">
            <th scope="row" *ngIf="elt.employee != null">{{elt.employee.nomEmp}} {{elt.employee.prenomEmp}}</th>
            <td>{{elt.DatePoin}} /  {{elt.heureEntree}}</td>
       
        </tr>
    </tbody>
</table>