<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nb-layout>
  <nb-layout-header subheader>
    <button class="btn btn-link" id="toggle" (click)="toggle()">
      <nb-icon icon="list-outline"></nb-icon>
    </button>

 
    <button class="btn text-white" id="login"  *ngIf="isConnected" routerLink="/profile"><i class="fa fa-user-circle" aria-hidden="true"></i>
      Profile</button>
    <button class="btn text-white"  *ngIf="!isConnected"routerLink="/login"><i class="fa fa-sign-in" style="color: aliceblue;"
        aria-hidden="true"></i> Login</button>
    <button class="btn text-white"  *ngIf="isConnected" (click)="logout()"><i class="fa fa-sign-out" style="color: aliceblue;" aria-hidden="true"></i>
      Logout</button>
      <button class="btn text-white"  routerLink="/pointage"><i class="fa fa-barcode" style="color: aliceblue;" aria-hidden="true"></i>
        Pointage</button>

  
  </nb-layout-header>
  <nb-sidebar *ngIf="isConnected">
systéme de pointage dégital
    <nb-menu [items]="admin" class="own-scroll" *ngIf="isAdmin">
    </nb-menu>
    <nb-menu [items]="employee" class="own-scroll" *ngIf="!isAdmin">
    </nb-menu>
  </nb-sidebar>
  <nb-layout-column class="colored-column-basic">
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer subheader>
    <div class="copyright text-center text-xl-left text-muted">

      <div class="row fullWidth">
       
          &copy; {{ test | date: "yyyy" }}  Team 4 ING B 
       
      </div>
      <div class="row ">
        <div class="col">
          Wassim 
        </div>
        <div class="col">Aymen   
        </div>
        <div class="col">Siwar 
        </div>
      </div>
      <div class="row ">
        <div class="col">
          Racheh 
        </div>
        <div class="col">Bennasr   
        </div>
        <div class="col">Zouaoui 
        </div>
      </div>


    </div>

  </nb-layout-footer>
</nb-layout>