

  <carousel>
    <slide>
      <img src="../../../assets/ge.png" alt="first slide" style="display: auto; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
      
      </div>
    </slide>
    <slide>
      <img src="../../../assets/gd.png" alt="second slide" style="display: auto; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
    
      </div>
    </slide>
    <slide>
      <img src="../../../assets/pointage.png"alt="third slide" style="display: auto; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
      
      </div>
    </slide>
  </carousel>